<div id="side-nav">
	<%= render :partial => "shared/home_sidenav" %>
</div>


<div id="main">
	<div id="main_top" class="main_border">	</div>
	<div id="main_bottom" class="main_border">	</div>
	<h1><%= @page.title %> (total: <%= @properties.size %>)</h1>
	<%= @page.body %>
</div>

<div id="searchbox">
	<%= render :partial => "shared/quicksearchbox" %>
</div>

<div id="faq">
	
</div>
<% content_for :script do %>
<script type="text/javascript">
$(document).ready(function() {
  	 
	/*$('#main').jScrollPane({scrollbarWidth:17,showArrows:true});*/
	<% if @subpages.empty? %>
	    /*jQuery('#gallerylinks').jcarousel({
	        vertical: true,
	        scroll: 1,
	        auto: 2,
	        wrap: 'last',
	        initCallback: mycarousel_initCallback
	    });*/
	<% end %>

	$('#upper_pagewrapper').css("height","133px"); 
	$('#lower_pagewrapper').addClass("large"); 
	$('#content').css("height","100%"); 

	var main_height= $('#main').height();
	$('#main_bottom').css('margin-top',main_height);
	$('#content').css("height","100%"); 
	$("#main_bottom").appendTo($("#main"))
	$('.droppies').combobox(); 
	
	set_nav_pointer("properties");
});
</script>
<% end %>
