<div id="side-nav">
	<%= render :partial => "shared/home_sidenav" %>
</div>


<div id="main">
	<div id="main_top" class="main_border">	</div>
	<div id="main_bottom" class="main_border">	</div>
	<h1><%= @page.title %> </h1>
	<%= @page.body %>

</div>

<div id="right-column">
	<% if @page.name == "home" %>
	<div id="searchbox">
		<%= render :partial => "shared/quicksearchbox" %>
	</div>
	<% end %>
</div>

<% content_for :script do %>
<script type="text/javascript">
$(document).ready(function() {
	/*$('#main').jScrollPane({scrollbarWidth:17,showArrows:true});*/
	$('.droppies').combobox(); 
	front_paragraph_chop();
  	$('#content').css("height","100%"); 
	$("#main_bottom").appendTo($("#main"))	
	<% if params[:name] != "home" %>
		set_nav_pointer("<%= params[:name] %>");
	<% end %>
	$("#right-column").css("width","260px");
});
</script>
<% end %>
