<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<%# stylesheet_link_tag "screen","envnpb_front" %>
	<%= display_meta_tags %>
	<%= javascript_include_merged :base,:secondary %>
	<%= stylesheet_link_merged :base, :secondary %>
	
	<link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
	<!--[if lt IE 8]>
	      <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<![endif]-->
	<style type="text/css">

	  .clearfix:after {
	    content: ".";
	    display: block;
	    height: 0;
	    clear: both;
	    visibility: hidden;
	    }

	</style>

	<!--[if IE]>
	<style type="text/css">
	  .clearfix {
	    zoom: 1;     /* triggers hasLayout */
	    } 
	</style>
	<![endif]-->
	<%= yield :script %>
	<link href="http://www.engelvoelkers.com/favicon.ico" type="image/x-icon" rel="shortcut icon"/>
  </head>
  <body>
	<div id='upper_pagewrapper'>
		<div id='header'>
					
			<div id="logo"><%= link_to image_tag ("system/bg/front/logo.jpg"), "/" %></div>
			<div id="extra"><%= image_tag ("system/buttons/twitter.jpg") %><%= image_tag ("system/buttons/facebook.jpg") %>	<%= render :partial => "shared/user_bar", :object => self %></div>
			
	  	</div>
		<div id='navbar'>
			<ul>
				<%= render :partial => "shared/front_menu" %>					
			</ul>
	  	</div>	
		<% if controller.controller_name == "viewer" %>
		<div id="largegallery">
			<div id="holder">
				<div id="cuber">
					<div id="listOfImages">
						<% if @page.page_featured_photo %>
							<%= render :partial => "shared/admin/images/featured_photo", :object => @page %>
						<% end %>
					</div>
				</div>
			</div>		
		</div>
		<% end %>		
 	</div>
	<div id='lower_pagewrapper'>
		<div id='content' class="clearfix <% if params[:name]=="home" %>homepage<% end %>">
	     		<%= yield %>
		</div>
		<div id='footer'>
			<ul id="links">
				<li>Testing</li>
			</ul>
		</div>
	</div>
 </body>
</html>